@page
@model SimpleAppWithEmptyTemplate1.Pages.IndexModel
@{
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <title>Index</title>
</head>
<body>
    <div>
        <p>Hello from Razor Page1</p>
        <p>@ViewData["message"]</p>
    </div>
</body>
</html>
